@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/images (39).jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}